#admin {
  h3,
  h4 {
    margin-block: 0;
  }

  section {
    padding-block: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-primary);
    }

    > details {
      > summary.header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        h4 {
          position: relative;

          &:has(.open, .closed) {
            padding-left: 16px;
          }

          .open,
          .closed {
            position: absolute;
            left: 0;
            top: 2px;
          }

          .open {
            display: none;
          }

          .closed {
            display: inline;
          }
        }
      }

      &[open] {
        > summary.header h4 {
          .open {
            display: inline;
          }

          .closed {
            display: none;
          }
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-block: 8px;

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-primary);
        }

        details {
          --indicator-width: 16px;

          summary {
            &::before {
              content: ">";
              position: absolute;
            }

            & > :first-child {
              padding-left: var(--indicator-width);
            }
          }

          &[open] {
            summary {
              &::before {
                content: "v";
              }
            }
          }

          summary {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
