header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;

  .profile {
    display: flex;
    align-items: center;

    > * {
      height: var(--h1-size);
      width: var(--h1-size);
    }
  }
}
