header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .profile {
    display: flex;
    align-items: center;

    > .profile-flyout {
      height: var(--h1-size);
      width: var(--h1-size);
    }
  }
}
