dialog {
  border: none;
  padding: 16px;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  button.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    border-radius: 50%;
    padding: 0;

    &,
    & > svg {
      height: calc(var(--h3-size) * 0.75);
      width: calc(var(--h3-size) * 0.75);
    }
  }

  > h3 {
    margin: 0;
    margin-right: 16px;
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.24);
}
