nav {
  ul {
    --item-gap: 8px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--item-gap);

    li {
      display: flex;
      flex-direction: row;
      &:not(:first-child):before {
        content: "-";
        padding-right: var(--item-gap);
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }

    h3 {
      margin: 0;
    }
  }
}
