nav {
  .header {
    display: none;

    button {
      --size: 32px;
      border: none;
      background: none;
      padding: 0;

      svg {
        width: calc(var(--size) * 2 / 3);
        height: calc(var(--size) * 2 / 3);
        margin: 5;
      }
    }
  }

  h2 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    width: fit-content;
  }

  h3 {
    margin: 0;
    width: fit-content;
  }
}
@media only screen and (max-width: 1020px) {
  nav {
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .header {
      display: flex;
      justify-content: space-between;
    }

    & > .header,
    & > ul {
      padding-inline: 4px;
    }

    ul {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    ul[aria-hidden="true"] {
      display: none;
    }
  }
}

@media only screen and (min-width: 1020px) {
  nav {
    ul {
      --item-gap: 8px;
      display: flex;
      flex-direction: row;
      gap: var(--item-gap);

      li {
        display: flex;
        flex-direction: row;
        &:not(:first-child):before {
          content: "-";
          padding-right: var(--item-gap);
          justify-content: center;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
