section#user-list {
  /* this is only needed for the users list */
  .joined {
    color: white;
    padding-inline: 4px;
    border-radius: 4px;

    &.true {
      background-color: var(--success);
    }

    &.false {
      background-color: var(--error);
    }
  }

  .smoker {
    padding-inline: 4px;
    border-radius: 4px;

    &.false {
      opacity: 0.5;
    }
  }
}
