.bottle-cap-blue {
  --iconColor: #0000ff;
  --strokeColor: #000080;
  --innerOpacity: 0.3;
}

.bottle-cap-black {
  --iconColor: #262626;
  --strokeColor: #000000;
  --innerOpacity: 0.3;
}

.bottle-cap-red {
  --iconColor: #ff0000;
  --strokeColor: #800000;
  --innerOpacity: 0.3;
}

.bottle-cap-green {
  --iconColor: #33cc33;
  --strokeColor: #196619;
  --innerOpacity: 0.3;
}

.bottle-cap-yellow {
  --iconColor: #ffff00;
  --strokeColor: #808000;
  --innerOpacity: 0.3;
}

.body {
  --iconColor: blue;
}
